{
    "token": "Your server token",
    "prefix": "!",
    "COBALT_key": "Your Cobalt key",
    "kitsu_id": "Your Kitsu ID",
    "kitsu_secret": "Your Kitsu Secret",
    "anime_channels": ["list", "of", "anime", "channels"],
    "school_channels": ["list", "of", "cobalt", "channels"],
    "crypto_channels": ["list", "of", "crypto", "channels"],
    "valid_roles": ["rolls", "to", "be", "user", "assignable"]
}
